<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true"
        />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name="xyz.slkagura.reinforce.Starter"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Live"
        >
        <activity
            android:name="xyz.slkagura.permission.PermissionProxyActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"
            />
        <activity
            android:name=".ui.view.main.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.camera.CameraActivity"
            android:exported="false"
            />
        <activity
            android:name=".ui.view.codec.CodecActivity"
            android:exported="false"
            />
        <activity
            android:name=".ui.view.permission.PermissionActivity"
            android:exported="false"
            />
        <activity
            android:name=".ui.view.click.ClickActivity"
            android:exported="false"
            />
    </application>
</manifest>
